*  @sathishp-eGov @subhashini-egov @jagankumar-egov
*.yaml @egovernments/works-dev-pr-reviewers

##Backend
backend/ @egovernments/works-dev-pr-reviewers

##Frontend
frontend/ @sathishp-eGov @jagankumar-egov @subhashini-egov

##Frontend
utilities/ @sathishp-eGov @jagankumar-egov @subhashini-egov
