*  @gajendran-egov @sathishp-eGov @rushang7-eGov @subhashini-egov
*.yaml  @gajendran-egov @sathishp-eGov  @rushang7-eGov @subhashini-egov

##Backend
backend/ @sathishp-eGov @rushang7-eGov @subhashini-egov @vishalgupta-eGov @anitha-srinivasan-egov

##Frontend
frontend/ @sathishp-eGov @jagankumar-egov @subhashini-egov
