.inbox-search-wrapper {
    height: 100%;
    .inbox-search-component-wrapper {
        height: 100%;
        width: 100%;
        .sections-parent {
            height: 100%;
            display: grid;
            grid-template-columns: 20% 1fr;
            gap : 2rem;
            &.inbox {

            }
            &.search {
                display: flex;
                flex-direction: column;
                .section {
                    &.links {
                        display: none;
                    }
                    &.filter {
                        display: none;
                    }
                }
            }
            .section {
                min-height: 10rem;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                &.search-results {
                    height: 50rem;
                }
                &.links {
                    height: 100%;
                    color : #f47738;
                    .inbox-search-links-component {
                        height: 100% !important;
                        width: 100%;
                    }
                }
                &.filter {
                   height: 100%;
                }
            }
        }
    }
}

@screen sm {
    .employee-main-application-details-for-modal  {
        padding: 0 !important;
    }
    .inbox-search-wrapper {
        .inbox-search-component-wrapper {
            .sections-parent {
                display: flex;
                flex-direction : column;
                .section {
                    &.search-results {
                    }
                    &.links {
                       
                    }
                    &.filter {
                       
                    }
                    &.as-modal {
                        position : fixed;
                        top : 0;
                        height : 100vh;
                        width : 100vw;
                    }
                }
            }
        }
    }
}